doctype
html(lang='fr')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css') 
        link(rel='stylesheet', href='/css/styles.css')
        title="O'Park"
    body
        nav(class='nav')
            div(class='logo')
                a(href="/") O'park
            div(class='links')
                div(class='new')
                    a(href="/incident/new") Nouvel Incident
                    a(href="/incident/delete") Supprimer Incident
                    a(href="/purge") Purger les incidents