include includes/header.pug
div(class="content")
    div(class="card")
            p(class="title" id="title") #{error_title}
            div(class="shortUrl_container")
                div(class="shortUrl_container_response") #{error}